<?xml version="1.0"?>
<launch>
  <arg name="dev" default="0" />
  <arg name="cl_file" default="$(find cl_misc)/src/misc.cl" />
  <arg name="use_cl_image" default="false" doc="set to true if opencl driver supports images" />

  <group ns="camera_$(arg dev)" if="false" >
    <node pkg="uvc_camera" type="uvc_camera_node" name="webcam_$(arg dev)" output="screen">
      <param name="width"  type="int" value="640" />
      <param name="height" type="int" value="480" />
      <param name="fps" type="int" value="10" />
      <param name="frame" type="string" value="webcam" />
      <param name="device" type="string" value="/dev/video$(arg dev)" />
    </node>
  </group>

  <node name="cl_misc" pkg="cl_misc" type="cl_misc"
      output="screen"
      args="$(arg cl_file) $(arg dev)"
      if="$(arg use_cl_image)">
  </node>

  <node name="cl_buffer" pkg="cl_misc" type="cl_buffer"
      output="screen"
      args="$(arg cl_file) $(arg dev)"
      unless="$(arg use_cl_image)">
  </node>

</launch>
